.boxes {
	flex: 1;
	display: flex;
	min-height: 100vh;
	text-align: center;
}
.Box {
	flex: 1;
	display: flex;
	margin: 100px;
	font-size: 3em;
	padding: 0 40px;
	font-weight: 300;
	text-align: center;
	border-radius: 25px;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	background-color: white;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
	width: 250px;
	height: 250px;
}
h1 {
	font-size: 50px;
}
.win {
	color: green;
	border: 10px solid green;
}
.lose {
	color: red;
	border: 10px solid red;
}
.tie {
	color: orange;
	border: 10px solid orange;
}
.App {
	background-color: #e9ebee;
}

.button-group {
	display: flex;
	justify-content: center;
}
.finalRes {
	display: flex;
	justify-content: center;
}
.resHistory {
	display: flex;
	flex-direction: column;
	position: absolute;
}
.resLocation {
	position: relative;
	display: flex;
	justify-content: center;
	bottom: 800px;
}
